*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: calibri;
    text-align: center;
}

#Centralizador{
    margin: 100px auto;
    background-image: url(../img/background.png);
    padding: 50px;
}

form{
    position: relative;
    margin: auto;
    width: 400px;
    height: 150px;
    font-size: 20px;
}
form label{
    float: left;
    width: 100%;
    margin: 0 5px;
    font-size: 20px;
    text-align: left;
}
form input{
    float: left;
    background-color: #fff;
    width: 100%;
    margin: 0 5px;
    font-size: inherit;
    text-align: left;
}

form input[type="submit"]{
    float: left;
    background-color: #fff;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: inherit;
    text-align: center;
}
form input[type="submit"]:hover{
    float: left;
    background-color: #bbb;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
}